/*
CSS reset(css重置)基本上是不需要的，至少可以说80%的的CSS reset都是没有必要的，
反而增加了页面CSS 的overwrite，尤其像开心网*{margin:0;}这样子业余的做法更是要不得（反而破坏了很多UI的兼容性，比如说单复选框等）。
我不是一概鄙弃CSS reset，有些常用标签我也是会简单重置一下的，而且会避免overwrite（样式重写），以保证样式最精简，渲染最高效。
如下代码示例：
*/
body{
    line-height:1.4;
    color:#333;
    font-family:arial;
    font-size: 12px;
    background:white;
}
input,textarea,select{
    font-size:12px;
    font-size:100%;    
    font-family:arial;
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
/*image with no-border*/
a img{border:0;}
img{border:0;}
