/*css reset*/
/*div，span是没有margin,padding的*/
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin: 0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size: 100%}
body,button,input,select,textarea {font-size:12px;font-family:;}
address,cite,dfn,em,var,i{font-style: normal;}
strong {font-weight:normal;}
small {font-size: 12px}
ol,ul,li {list-style: none}
a {text-decoration: none}
a:hover {text-decoration: underline}
legend {color: #000}
button,input,select,textarea {font-size: 100%}
table {border-collapse: collapse;border-spacing: 0;border:1px solid}
tr,td{border:1px solid}
.hide {display: none}
.text_center{text-align: center}
.text_right{text-align: right;}
.text_left{text-align: left;}
.float_left{float:left}
.float_right{float:right}
.pointer{cursor:pointer;}
/*清除浮动*/
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;} /*IE6,7*/
.disabled{cursor:not-allowed;color:gray;}
/*css reset 结束*/		
