css reset*/
/*div，span是没有margin,padding的*/
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin: 0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size: 100%}
body,button,input,select,textarea {font-size:12px;font-family:;}
address,cite,dfn,em,var,i{font-style: normal;}
strong {font-weight:normal;}
small {font-size: 12px}
ol,ul,li {list-style: none}
a {text-decoration: none}
a:hover {text-decoration: underline}
legend {color: #000}
button,input,select,textarea {font-size: 100%}
table {border-collapse: collapse;border-spacing: 0}
.hide {display: none}
.text-center{text-align: center}
.text-right{text-align: right;}
.text-left{text-align: left;}
.clearfix:after{conent:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;} /*IE6,7*/
/*css reset 结束*/		
